[Desktop Entry]
Type=Application
Name=BPM-detector
Comment=Detection rapide du tempo pour fichiers audio
Exec=bpm-detector
Icon=bpm-detector
Categories=Audio;AudioVideo;
Terminal=false
